<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TA的动态</title>
<link href="styles/main.css" rel="stylesheet" type="text/css" />
<link href="styles/t5.css" type="text/css" rel="stylesheet">
</head>
<body>

<div class="header">
<script type="text/javascript">
$(document).ready(function(){
$(".t_c1").mouseover(function(){$(".t_c1_box").show();$(".t_c1").addClass("on");});
$(".t_c1").mouseout(function(){$(".t_c1_box").hide();$(".t_c1").removeClass("on");});
//$(".t_c2").mouseover(function(){$(".t_c2_box").show();$(".t_c2").addClass("on");});
//$(".t_c2").mouseout(function(){$(".t_c2_box").hide();$(".t_c2").removeClass("on");});
});
</script>
<div class="headerNav ">
    <ul class="hleft">
	<li class="logo2"><a title="蒲公英" href="index.php?mod=topic&amp;code=shopping"><img src="images/logo2.png"></a></li>
		<script type="text/javascript">
		$(document).ready(function(){
			$(".t_cshopping").mouseover(function(){$(".t_cshopping_box").show();$(".t_cshopping").addClass("on");});
			$(".t_cshopping").mouseout(function(){$(".t_cshopping_box").hide();$(".t_cshopping").removeClass("on");});
		});
		</script>
	
<li class="t_cshopping"><a title="城市广场" target="_parent" href="index.php?mod=topic&amp;code=shopping">城市广场</a>
		<ul style="display: none;" class="t_c1_box t_cshopping_box">
		 
		  
		  
<li><a target="_parent" href="index.php?mod=topic&amp;code=shopping">广场首页</a></li>
		   
 
		  
		  
<li><a target="_parent" href="index.php?mod=topic&amp;code=new">最新分享</a></li>
		   
 
		  
		  
<li><a target="_parent" href="index.php?mod=topic&amp;code=newreply">最新评论</a></li>
		   
 
		  
		  
<li><a target="_parent" href="/index.php?mod=qun">发现微群</a></li>
		   
 
 
 </ul>
	 
</li>
	
		<script type="text/javascript">
		$(document).ready(function(){
			$(".t_cgyg").mouseover(function(){$(".t_cgyg_box").show();$(".t_cgyg").addClass("on");});
			$(".t_cgyg").mouseout(function(){$(".t_cgyg_box").hide();$(".t_cgyg").removeClass("on");});
		});
		</script>
	
<li class="t_cgyg"><a title="我的购衣柜" target="_parent" href="#">我的购衣柜</a>
		<ul style="display: none;" class="t_c1_box t_cgyg_box">
		 
		  
		  
<li><a target="_parent" href="#">购衣柜首页</a></li>
		   
 
 
 </ul>
	 
</li>
	
		<script type="text/javascript">
		$(document).ready(function(){
			$(".t_cpgy").mouseover(function(){$(".t_cpgy_box").show();$(".t_cpgy").addClass("on");});
			$(".t_cpgy").mouseout(function(){$(".t_cpgy_box").hide();$(".t_cpgy").removeClass("on");});
		});
		</script>
	
<li class="t_cpgy"><a title="我的蒲公英" target="_parent" href="index.php?mod=topic&amp;code=myhome">我的蒲公英</a>
		<ul style="display: none;" class="t_c1_box t_cpgy_box">
		 
		  
		  
<li><a target="_parent" href="index.php?mod=topic&amp;code=myhome">我的首页</a></li>
		   
 
		  
		  
<li><a target="_parent" href="index.php?mod=qun&amp;code=profile">我的微群</a></li>
		   
 
		  
		  
<li><a target="_parent" href="index.php?mod=vote&amp;view=me&amp;filter=created&amp;uid=1">我的投票</a></li>
		   
 
 
 </ul>
	 
</li>
	
		<script type="text/javascript">
		$(document).ready(function(){
			$(".t_ctools").mouseover(function(){$(".t_ctools_box").show();$(".t_ctools").addClass("on");});
			$(".t_ctools").mouseout(function(){$(".t_ctools_box").hide();$(".t_ctools").removeClass("on");});
		});
		</script>
	
<li class="t_ctools"><a title="工具箱" target="_parent" href="index.php?mod=tools">工具箱</a>
		<ul style="display: none;" class="t_c1_box t_ctools_box">
		 
		  
		  
<li><a target="_parent" href="index.php?mod=tools&amp;code=qmd">签名档</a></li>
		   
 
		  
		  
<li><a target="_parent" href="index.php?mod=show&amp;code=show">微博秀</a></li>
		   
 
		  
		  
<li><a target="_parent" href="index.php?mod=other&amp;code=wap">手机WAP</a></li>
		   
 
		  
		  
<li><a target="_parent" href="index.php?mod=wall&amp;code=control">我要上墙</a></li>
		   
 
		  
		  
<li><a target="_parent" href="index.php?mod=profile&amp;code=search">我要找人</a></li>
		   
 
		  
		  
<li><a target="_parent" href="index.php?mod=tools&amp;code=share">分享到微博</a></li>
		   
 
 
 </ul>
	 
</li>
	
<li class="sweibo">
	    <div class="searchTool">
          <form onsubmit="return headDoSearch();" id="headSearchForm" name="headSearchForm" action="#" method="get">
            <input type="hidden" value="topicSearch" name="searchType" id="headSearchType">
            <div class="selSearch">
              <div onmouseout="drop_mouseout('head');" onclick="if(document.getElementById('headSel').style.display=='none'){document.getElementById('headSel').style.display='block';}else {document.getElementById('headSel').style.display='none';};return false;" id="headSlected" class="nowSearch">分享</div>
              <div class="btnSel"><a onmouseout="drop_mouseout('head');" onclick="if(document.getElementById('headSel').style.display=='none'){document.getElementById('headSel').style.display='block';}else {document.getElementById('headSel').style.display='none';};return false;" href="#"></a></div>
              <div class="clear"></div>
              <ul style="display:none;" id="headSel" class="selOption">
			  	<li><a onmouseout="drop_mouseout('head');" onmouseover="drop_mouseover('head');" onclick="return search_show('head','topicSearch',this)" href="#">分享</a></li>
                <li><a onmouseout="drop_mouseout('head');" onmouseover="drop_mouseover('head');" onclick="return search_show('head','userSearch',this)" href="#">用户</a></li>
                <li><a onmouseout="drop_mouseout('head');" onmouseover="drop_mouseover('head');" onclick="return search_show('head','tagSearch',this)" href="#">话题</a></li>
					<li>
						<a onmouseout="drop_mouseout('head');" onmouseover="drop_mouseover('head');" onclick="return search_show('head','voteSearch',this)" href="#">投票</a>					</li>
				
					<li>
						<a onmouseout="drop_mouseout('head');" onmouseover="drop_mouseover('head');" onclick="return search_show('head','qunSearch',this)" href="#">微群</a>					</li>
				
              </ul>
            </div>
            <input type="text" onfocus="this.value=''" value="请输入关键字" name="headSearchValue" id="headq" class="txtSearch">
            <div class="btnSearch"> <a onclick="javascript:return headDoSearch();" href="#"><span class="lbl"></span></a></div>
          </form>
        </div>
	  	</li>
		

		<li onclick="showMainPublishBox();" style="cursor:pointer;" class="pweibo">发分享
		  <input type="hidden" value="0" id="check_PublishBox_uid" name="check_PublishBox_uid">
		</li>
    </ul>
    <ul class="hright">
      
      <li><a onclick="ShowLoginDialog(); return false;" title="登录即可分享新鲜事" rel="nofollow" href="javascript:viod(0)">登录</a></li>
      
    </ul>
  </div>
  <!--<div class="headerBg"></div>-->
</div>

<div class="logow "></div>


<div class="m_group">
    <div class="g_nav">
        <div class="info clearfix">
        </div>
        <ul class="list">
            <li><a href="#">TA的购衣柜首页</a></li>
            <li class="js_cur"><a href="#">TA的动态</a></li>
            <li><a href="#">TA评论的</a></li>
        </ul>            
    </div>
    <div class="g_main clearfix">
        
        <div class="g_con">
        
        	<div class="vg_connbody">
            	
                <div class="listBoxNav">
                <div class="nleftL">
                    <li style="float:left; font-weight:600; color:#333;">&nbsp;夜巴黎的微博</li> 
                    <li class="liR2"> 
                    
                    <span class="liL_5"><a href="index.php?mod=yeye">全部</a></span> |
                    
                    
                    <span><a href="index.php?mod=yeye&amp;type=my_reply">TA评论的</a></span>
                    
                    </li>
                </div>
                </div>
                
                <div id="listTopicArea">
	  	<!--微博列表 Begin--><div class="Listmain">
	<div class="mBlog_linedot"></div>
          
		  
  	<!--微博列表 Begin-->
<div id="topic_list_195" class="feedCell">
<div class="wb_l_face">
<div class="avatar">
<a href="index.php?mod=yeye"><img onerror="javascript:faceError(this);" src="http://pugo.in/images/face/f/77/17_s.jpg"></a>
</div>


</div>


<!--悬浮头像、弹出对话框-->
<div id="user_195_user"></div>
<!--悬浮头像、弹出对话框-->

<!--私信对话框-->
<div style="width:430px;" id="Pmsend_to_user_area"></div>
<!--私信对话框-->

<!--AT、拉黑对话框-->
<div style="display:none" id="alert_follower_menu_17"></div>
<!--AT、拉黑对话框-->

<div style="display:none" onclick="get_group_choose(17);" id="button_17"></div>

<!--分组对话框-->
<div style="display:none" class="alertBox" id="global_select_17"></div>
<!--分组对话框-->

<!--备注对话框-->
<div style="display:none" id="get_remark_17"></div>
<!--备注对话框-->


<!--微博内容中 @用户 悬浮提示-->
<div style="display:none;" class="at_style" id="at_195_user"></div>
<!--微博内容中 @用户 悬浮提示-->
<div class="Contant">
	<div style="_overflow:hidden" id="topic_lists_195">
		<div class="oriTxt">
  
			<p class="utitle">
				<!--个人签名文件--><span class="un">

<a href="index.php?mod=yeye" title="点此查看夜巴黎的微博(@夜巴黎)">夜巴黎</a>
<span class="wb_l_level">
<a class="ico_level wbL1" target="_blank" href="index.php?mod=settings&amp;code=exp"><em>1</em></a>
</span>
</span>
				<!--个人签名文件-->
				<span class="ut"><a target="_blank" href="index.php?mod=topic&amp;code=195">10月16日 10时02分 </a></span>
			</p><!--Shopping Begin-->
      

<!--Shopping End-->
			<span id="topic_content_195_short"><a href="index.php?mod=tag&amp;code=新人报到">#新人报到#</a>感谢这么好的平台。</span>
			<span id="topic_content_195_full"></span>
<!--投票 Begin-->
              
<!--投票 End-->

<script type="text/javascript"> var __TOPIC_VIEW__ = ''; </script>
<script type="text/javascript">
$(document).ready(function(){
var objStr1 = "#topic_lists_195_a";
var objStr2 = "#topic_lists_195_b";
$(objStr1).mouseover(function(){$(objStr2).show();});
$(objStr1).mouseout(function(){$(objStr2).hide();});
});
</script>

<div class="from"> 
<div class="option">
<!--不是群内成员无法对群内的微博进行操作-->
<ul>
	<li>
	  <!--转发的判断 Begin-->
	  
	  
<span>
			<a style="cursor:pointer;" onclick="get_forward_choose(195);" href="javascript:void(0);">转发
</a>
		</span>
	 
 <!--转发的判断 End-->
	</li>
	<li class="o_line_l">|</li>
	<li>
		<span>
		<a onclick="replyTopic(195,'reply_area_195','0',0);return false;" href="javascript:void(0)" id="topic_list_reply_195_aid">评论
</a>
		</span>
	</li>
	
<li class="o_line_l">|</li>


	<li class="mobox" id="topic_lists_195_a">
		<a class="moreti" href="javascript:void(0)"><span class="txt">更多</span><span class="more"></span></a> 
		<div style="display:none" class="molist" id="topic_lists_195_b">
<span id="favorite_195">
					<a onclick="favoriteTopic(195,'add');return false;" href="javascript:void(0)">收藏</a>
				</span> 
			
			<span><a title="举报不良信息" onclick="ReportBox('195')" href="javascript:void(0)">举报</a></span>
			
</div>
	</li>
</ul>
</div> 
<div class="mycome">
<!-- <a href="index.php?mod=topic&code=195">10月16日 10时02分</a>  -->
来自<a href="http://pugo.in">蒲公英</a></div>
</div>
			
</div>
	</div>
	<div id="reply_area_195"></div>
	<div id="modify_topic_195"></div>
	<div class="Fbox" id="forward_menu_195"></div>
</div>
	<div class="mBlog_linedot"></div>
				</div>
		  	
<div id="topic_list_194" class="feedCell">
<div class="wb_l_face">
<div class="avatar">
<a href="index.php?mod=yeye"><img onerror="javascript:faceError(this);" src="http://pugo.in/images/face/f/77/17_s.jpg"></a>
</div>


</div>


<!--悬浮头像、弹出对话框-->
<div id="user_194_user"></div>
<!--悬浮头像、弹出对话框-->

<!--私信对话框-->
<div style="width:430px;" id="Pmsend_to_user_area"></div>
<!--私信对话框-->

<!--AT、拉黑对话框-->
<div style="display:none" id="alert_follower_menu_17"></div>
<!--AT、拉黑对话框-->

<div style="display:none" onclick="get_group_choose(17);" id="button_17"></div>

<!--分组对话框-->
<div style="display:none" class="alertBox" id="global_select_17"></div>
<!--分组对话框-->

<!--备注对话框-->
<div style="display:none" id="get_remark_17"></div>
<!--备注对话框-->


<!--微博内容中 @用户 悬浮提示-->
<div style="display:none;" class="at_style" id="at_194_user"></div>
<!--微博内容中 @用户 悬浮提示-->
<div class="Contant">
	<div style="_overflow:hidden" id="topic_lists_194">
		<div class="oriTxt">
  
			<p class="utitle">
				<!--个人签名文件--><span class="un">

<a href="index.php?mod=yeye" title="点此查看夜巴黎的微博(@夜巴黎)">夜巴黎</a>
<span class="wb_l_level">
<a class="ico_level wbL1" target="_blank" href="index.php?mod=settings&amp;code=exp"><em>1</em></a>
</span>
</span>
				<!--个人签名文件-->
				<span class="ut"><a target="_blank" href="index.php?mod=topic&amp;code=194">10月16日 09时59分 </a></span>
			</p><!--Shopping Begin-->
<div style="display:none " class="artZoomtop">
	<img width="16" height="16" align="absmiddle" src="http://pugo.in/images/shopping/taobao_com.gif">
	<a style="display:none " href="#" target="_blank">title</a>
	<span class="price"><i>¥</i>105.00</span>
	<a href="http://item.taobao.com/item.htm?id=13402108802" target="_blank" class="buy_url"></a>
</div>
      

<!--Shopping End-->
<ul id="image_area_194_HA13Kd" class="imgList">
	  
	  <li><a shoppingtypelogo="http://pugo.in/images/shopping/taobao_com.gif" shoppingprice="105.00" shoppingurl="http://item.taobao.com/item.htm?id=13402108802" rev="194_HA13Kd" rel="http://pugo.in/images/topic/8/92/132_s.jpg" topicid="194" class="artZoomAll" href="http://pugo.in/images/topic/8/92/132_o.jpg"><img src="http://pugo.in/images/topic/8/92/132_s.jpg" style="width:120px; height:120px;"></a></li>
	  
	  <li><a shoppingtypelogo="http://pugo.in/images/shopping/taobao_com.gif" shoppingprice="105.00" shoppingurl="http://item.taobao.com/item.htm?id=13402108802" rev="194_HA13Kd" rel="http://pugo.in/images/topic/8/7/133_s.jpg" topicid="194" class="artZoomAll" href="http://pugo.in/images/topic/8/7/133_o.jpg"><img src="http://pugo.in/images/topic/8/7/133_s.jpg" style="width:120px; height:120px;"></a></li>
	  
</ul>
			<span id="topic_content_194_short">衣服很好哦，很喜欢，也很合身，最主要的是送快递的是帅哥！哈哈，兴奋了下下</span>
			<span id="topic_content_194_full"></span>
<!--投票 Begin-->
              
<!--投票 End-->

<script type="text/javascript"> var __TOPIC_VIEW__ = ''; </script>
<script type="text/javascript">
$(document).ready(function(){
var objStr1 = "#topic_lists_194_a";
var objStr2 = "#topic_lists_194_b";
$(objStr1).mouseover(function(){$(objStr2).show();});
$(objStr1).mouseout(function(){$(objStr2).hide();});
});
</script>

<div class="from"> 
<div class="option">
<!--不是群内成员无法对群内的微博进行操作-->
<ul>
	<li>
	  <!--转发的判断 Begin-->
	  
	  
<span>
			<a style="cursor:pointer;" onclick="get_forward_choose(194);" href="javascript:void(0);">转发
</a>
		</span>
	 
 <!--转发的判断 End-->
	</li>
	<li class="o_line_l">|</li>
	<li>
		<span>
		<a onclick="replyTopic(194,'reply_area_194','0',0);return false;" href="javascript:void(0)" id="topic_list_reply_194_aid">评论
</a>
		</span>
	</li>
	
<li class="o_line_l">|</li>


	<li class="mobox" id="topic_lists_194_a">
		<a class="moreti" href="javascript:void(0)"><span class="txt">更多</span><span class="more"></span></a> 
		<div style="display:none" class="molist" id="topic_lists_194_b">
<span id="favorite_194">
					<a onclick="favoriteTopic(194,'add');return false;" href="javascript:void(0)">收藏</a>
				</span> 
			
			<span><a title="举报不良信息" onclick="ReportBox('194')" href="javascript:void(0)">举报</a></span>
			
</div>
	</li>
</ul>
</div> 
<div class="mycome">
<!-- <a href="index.php?mod=topic&code=194">10月16日 09时59分</a>  -->
来自<a href="http://pugo.in">蒲公英</a></div>
</div>
			
</div>
	</div>
	<div id="reply_area_194"></div>
	<div id="modify_topic_194"></div>
	<div class="Fbox" id="forward_menu_194"></div>
</div>
	<div class="mBlog_linedot"></div>
				</div>
		  	
<div id="topic_list_193" class="feedCell">
<div class="wb_l_face">
<div class="avatar">
<a href="index.php?mod=yeye"><img onerror="javascript:faceError(this);" src="http://pugo.in/images/face/f/77/17_s.jpg"></a>
</div>


</div>


<!--悬浮头像、弹出对话框-->
<div id="user_193_user"></div>
<!--悬浮头像、弹出对话框-->

<!--私信对话框-->
<div style="width:430px;" id="Pmsend_to_user_area"></div>
<!--私信对话框-->

<!--AT、拉黑对话框-->
<div style="display:none" id="alert_follower_menu_17"></div>
<!--AT、拉黑对话框-->

<div style="display:none" onclick="get_group_choose(17);" id="button_17"></div>

<!--分组对话框-->
<div style="display:none" class="alertBox" id="global_select_17"></div>
<!--分组对话框-->

<!--备注对话框-->
<div style="display:none" id="get_remark_17"></div>
<!--备注对话框-->


<!--微博内容中 @用户 悬浮提示-->
<div style="display:none;" class="at_style" id="at_193_user"></div>
<!--微博内容中 @用户 悬浮提示-->
<div class="Contant">
	<div style="_overflow:hidden" id="topic_lists_193">
		<div class="oriTxt">
  
			<p class="utitle">
				<!--个人签名文件--><span class="un">

<a href="index.php?mod=yeye" title="点此查看夜巴黎的微博(@夜巴黎)">夜巴黎</a>
<span class="wb_l_level">
<a class="ico_level wbL1" target="_blank" href="index.php?mod=settings&amp;code=exp"><em>1</em></a>
</span>
</span>
				<!--个人签名文件-->
				<span class="ut"><a target="_blank" href="index.php?mod=topic&amp;code=193">10月16日 09时57分 </a></span>
			</p><!--Shopping Begin-->
<div style="display:none " class="artZoomtop">
	<img width="16" height="16" align="absmiddle" src="http://pugo.in/images/shopping/taobao_com.gif">
	<a style="display:none " href="#" target="_blank">title</a>
	<span class="price"><i>¥</i>59.00</span>
	<a href="http://item.taobao.com/item.htm?id=12938031288" target="_blank" class="buy_url"></a>
</div>
      

<!--Shopping End-->
<ul id="image_area_193_oGQi5d" class="imgList">
	  
	  <li><a shoppingtypelogo="http://pugo.in/images/shopping/taobao_com.gif" shoppingprice="59.00" shoppingurl="http://item.taobao.com/item.htm?id=12938031288" rev="193_oGQi5d" rel="http://pugo.in/images/topic/4/92/131_s.jpg" topicid="193" class="artZoomAll" href="http://pugo.in/images/topic/4/92/131_o.jpg"><img src="http://pugo.in/images/topic/4/92/131_s.jpg" style="width:120px; height:120px;"></a></li>
	  
</ul>
			<span id="topic_content_193_short">和图片上一模一样 很赞\(^o^)/~</span>
			<span id="topic_content_193_full"></span>
<!--投票 Begin-->
              
<!--投票 End-->

<script type="text/javascript"> var __TOPIC_VIEW__ = ''; </script>
<script type="text/javascript">
$(document).ready(function(){
var objStr1 = "#topic_lists_193_a";
var objStr2 = "#topic_lists_193_b";
$(objStr1).mouseover(function(){$(objStr2).show();});
$(objStr1).mouseout(function(){$(objStr2).hide();});
});
</script>

<div class="from"> 
<div class="option">
<!--不是群内成员无法对群内的微博进行操作-->
<ul>
	<li>
	  <!--转发的判断 Begin-->
	  
	  
<span>
			<a style="cursor:pointer;" onclick="get_forward_choose(193);" href="javascript:void(0);">转发
</a>
		</span>
	 
 <!--转发的判断 End-->
	</li>
	<li class="o_line_l">|</li>
	<li>
		<span>
		<a onclick="replyTopic(193,'reply_area_193','0',0);return false;" href="javascript:void(0)" id="topic_list_reply_193_aid">评论
</a>
		</span>
	</li>
	
<li class="o_line_l">|</li>


	<li class="mobox" id="topic_lists_193_a">
		<a class="moreti" href="javascript:void(0)"><span class="txt">更多</span><span class="more"></span></a> 
		<div style="display:none" class="molist" id="topic_lists_193_b">
<span id="favorite_193">
					<a onclick="favoriteTopic(193,'add');return false;" href="javascript:void(0)">收藏</a>
				</span> 
			
			<span><a title="举报不良信息" onclick="ReportBox('193')" href="javascript:void(0)">举报</a></span>
			
</div>
	</li>
</ul>
</div> 
<div class="mycome">
<!-- <a href="index.php?mod=topic&code=193">10月16日 09时57分</a>  -->
来自<a href="http://pugo.in">蒲公英</a></div>
</div>
			
</div>
	</div>
	<div id="reply_area_193"></div>
	<div id="modify_topic_193"></div>
	<div class="Fbox" id="forward_menu_193"></div>
</div>
	<div class="mBlog_linedot"></div>
				</div>
		  	
<div id="topic_list_192" class="feedCell">
<div class="wb_l_face">
<div class="avatar">
<a href="index.php?mod=yeye"><img onerror="javascript:faceError(this);" src="http://pugo.in/images/face/f/77/17_s.jpg"></a>
</div>


</div>


<!--悬浮头像、弹出对话框-->
<div id="user_192_user"></div>
<!--悬浮头像、弹出对话框-->

<!--私信对话框-->
<div style="width:430px;" id="Pmsend_to_user_area"></div>
<!--私信对话框-->

<!--AT、拉黑对话框-->
<div style="display:none" id="alert_follower_menu_17"></div>
<!--AT、拉黑对话框-->

<div style="display:none" onclick="get_group_choose(17);" id="button_17"></div>

<!--分组对话框-->
<div style="display:none" class="alertBox" id="global_select_17"></div>
<!--分组对话框-->

<!--备注对话框-->
<div style="display:none" id="get_remark_17"></div>
<!--备注对话框-->


<!--微博内容中 @用户 悬浮提示-->
<div style="display:none;" class="at_style" id="at_192_user"></div>
<!--微博内容中 @用户 悬浮提示-->
<div class="Contant">
	<div style="_overflow:hidden" id="topic_lists_192">
		<div class="oriTxt">
  
			<p class="utitle">
				<!--个人签名文件--><span class="un">

<a href="index.php?mod=yeye" title="点此查看夜巴黎的微博(@夜巴黎)">夜巴黎</a>
<span class="wb_l_level">
<a class="ico_level wbL1" target="_blank" href="index.php?mod=settings&amp;code=exp"><em>1</em></a>
</span>
</span>
				<!--个人签名文件-->
				<span class="ut"><a target="_blank" href="index.php?mod=topic&amp;code=192">10月16日 09时56分 </a></span>
			</p><!--Shopping Begin-->
<div style="display:none " class="artZoomtop">
	<img width="16" height="16" align="absmiddle" src="http://pugo.in/images/shopping/taobao_com.gif">
	<a style="display:none " href="#" target="_blank">title</a>
	<span class="price"><i>¥</i>88.00</span>
	<a href="http://item.taobao.com/item.htm?id=12809351715&amp;" target="_blank" class="buy_url"></a>
</div>
      

<!--Shopping End-->
<ul id="image_area_192_RjtCzL" class="imgList">
	  
	  <li><a shoppingtypelogo="http://pugo.in/images/shopping/taobao_com.gif" shoppingprice="88.00" shoppingurl="http://item.taobao.com/item.htm?id=12809351715&amp;" rev="192_RjtCzL" rel="http://pugo.in/images/topic/6/30/130_s.jpg" topicid="192" class="artZoomAll" href="http://pugo.in/images/topic/6/30/130_o.jpg"><img src="http://pugo.in/images/topic/6/30/130_s.jpg" style="width:120px; height:120px;"></a></li>
	  
</ul>
			<span id="topic_content_192_short">感觉还不错.很舒服..
就是看起来有点小..不知道穿起来效果怎样...</span>
			<span id="topic_content_192_full"></span>
<!--投票 Begin-->
              
<!--投票 End-->

<script type="text/javascript"> var __TOPIC_VIEW__ = ''; </script>
<script type="text/javascript">
$(document).ready(function(){
var objStr1 = "#topic_lists_192_a";
var objStr2 = "#topic_lists_192_b";
$(objStr1).mouseover(function(){$(objStr2).show();});
$(objStr1).mouseout(function(){$(objStr2).hide();});
});
</script>

<div class="from"> 
<div class="option">
<!--不是群内成员无法对群内的微博进行操作-->
<ul>
	<li>
	  <!--转发的判断 Begin-->
	  
	  
<span>
			<a style="cursor:pointer;" onclick="get_forward_choose(192);" href="javascript:void(0);">转发
</a>
		</span>
	 
 <!--转发的判断 End-->
	</li>
	<li class="o_line_l">|</li>
	<li>
		<span>
		<a onclick="replyTopic(192,'reply_area_192','0',0);return false;" href="javascript:void(0)" id="topic_list_reply_192_aid">评论
</a>
		</span>
	</li>
	
<li class="o_line_l">|</li>


	<li class="mobox" id="topic_lists_192_a">
		<a class="moreti" href="javascript:void(0)"><span class="txt">更多</span><span class="more"></span></a> 
		<div style="display:none" class="molist" id="topic_lists_192_b">
<span id="favorite_192">
					<a onclick="favoriteTopic(192,'add');return false;" href="javascript:void(0)">收藏</a>
				</span> 
			
			<span><a title="举报不良信息" onclick="ReportBox('192')" href="javascript:void(0)">举报</a></span>
			
</div>
	</li>
</ul>
</div> 
<div class="mycome">
<!-- <a href="index.php?mod=topic&code=192">10月16日 09时56分</a>  -->
来自<a href="http://pugo.in">蒲公英</a></div>
</div>
			
</div>
	</div>
	<div id="reply_area_192"></div>
	<div id="modify_topic_192"></div>
	<div class="Fbox" id="forward_menu_192"></div>
</div>
	<div class="mBlog_linedot"></div>
				</div>
		  	
<div id="topic_list_191" class="feedCell">
<div class="wb_l_face">
<div class="avatar">
<a href="index.php?mod=yeye"><img onerror="javascript:faceError(this);" src="http://pugo.in/images/face/f/77/17_s.jpg"></a>
</div>


</div>


<!--悬浮头像、弹出对话框-->
<div id="user_191_user"></div>
<!--悬浮头像、弹出对话框-->

<!--私信对话框-->
<div style="width:430px;" id="Pmsend_to_user_area"></div>
<!--私信对话框-->

<!--AT、拉黑对话框-->
<div style="display:none" id="alert_follower_menu_17"></div>
<!--AT、拉黑对话框-->

<div style="display:none" onclick="get_group_choose(17);" id="button_17"></div>

<!--分组对话框-->
<div style="display:none" class="alertBox" id="global_select_17"></div>
<!--分组对话框-->

<!--备注对话框-->
<div style="display:none" id="get_remark_17"></div>
<!--备注对话框-->


<!--微博内容中 @用户 悬浮提示-->
<div style="display:none;" class="at_style" id="at_191_user"></div>
<!--微博内容中 @用户 悬浮提示-->
<div class="Contant">
	<div style="_overflow:hidden" id="topic_lists_191">
		<div class="oriTxt">
  
			<p class="utitle">
				<!--个人签名文件--><span class="un">

<a href="index.php?mod=yeye" title="点此查看夜巴黎的微博(@夜巴黎)">夜巴黎</a>
<span class="wb_l_level">
<a class="ico_level wbL1" target="_blank" href="index.php?mod=settings&amp;code=exp"><em>1</em></a>
</span>
</span>
				<!--个人签名文件-->
				<span class="ut"><a target="_blank" href="index.php?mod=topic&amp;code=191">10月16日 09时55分 </a></span>
			</p><!--Shopping Begin-->
<div style="display:none " class="artZoomtop">
	<img width="16" height="16" align="absmiddle" src="http://pugo.in/images/shopping/taobao_com.gif">
	<a style="display:none " href="#" target="_blank">title</a>
	<span class="price"><i>¥</i>75.00</span>
	<a href="http://item.taobao.com/item.htm?id=13263448132" target="_blank" class="buy_url"></a>
</div>
      

<!--Shopping End-->
<ul id="image_area_191_YUAaDT" class="imgList">
	  
	  <li><a shoppingtypelogo="http://pugo.in/images/shopping/taobao_com.gif" shoppingprice="75.00" shoppingurl="http://item.taobao.com/item.htm?id=13263448132" rev="191_YUAaDT" rel="http://pugo.in/images/topic/f/38/128_s.jpg" topicid="191" class="artZoomAll" href="http://pugo.in/images/topic/f/38/128_o.jpg"><img src="http://pugo.in/images/topic/f/38/128_s.jpg" style="width:120px; height:120px;"></a></li>
	  
	  <li><a shoppingtypelogo="http://pugo.in/images/shopping/taobao_com.gif" shoppingprice="75.00" shoppingurl="http://item.taobao.com/item.htm?id=13263448132" rev="191_YUAaDT" rel="http://pugo.in/images/topic/8/68/129_s.jpg" topicid="191" class="artZoomAll" href="http://pugo.in/images/topic/8/68/129_o.jpg"><img src="http://pugo.in/images/topic/8/68/129_s.jpg" style="width:120px; height:120px;"></a></li>
	  
</ul>
			<span id="topic_content_191_short">衣服也胚宽松了吧。。。样式还挺好看的，就是穿起来跟套麻袋似的，建议娇小苗条的亲们，三思。。。适合体型庞大的MM</span>
			<span id="topic_content_191_full"></span>
<!--投票 Begin-->
              
<!--投票 End-->

<script type="text/javascript"> var __TOPIC_VIEW__ = ''; </script>
<script type="text/javascript">
$(document).ready(function(){
var objStr1 = "#topic_lists_191_a";
var objStr2 = "#topic_lists_191_b";
$(objStr1).mouseover(function(){$(objStr2).show();});
$(objStr1).mouseout(function(){$(objStr2).hide();});
});
</script>

<div class="from"> 
<div class="option">
<!--不是群内成员无法对群内的微博进行操作-->
<ul>
	<li>
	  <!--转发的判断 Begin-->
	  
	  
<span>
			<a style="cursor:pointer;" onclick="get_forward_choose(191);" href="javascript:void(0);">转发
</a>
		</span>
	 
 <!--转发的判断 End-->
	</li>
	<li class="o_line_l">|</li>
	<li>
		<span>
		<a onclick="replyTopic(191,'reply_area_191','2',0);return false;" href="javascript:void(0)" id="topic_list_reply_191_aid">评论
(2)
</a>
		</span>
	</li>
	
<li class="o_line_l">|</li>


	<li class="mobox" id="topic_lists_191_a">
		<a class="moreti" href="javascript:void(0)"><span class="txt">更多</span><span class="more"></span></a> 
		<div style="display:none" class="molist" id="topic_lists_191_b">
<span id="favorite_191">
					<a onclick="favoriteTopic(191,'add');return false;" href="javascript:void(0)">收藏</a>
				</span> 
			
			<span><a title="举报不良信息" onclick="ReportBox('191')" href="javascript:void(0)">举报</a></span>
			
</div>
	</li>
</ul>
</div> 
<div class="mycome">
<!-- <a href="index.php?mod=topic&code=191">10月16日 09时55分</a>  -->
来自<a href="http://pugo.in">蒲公英</a></div>
</div>
			
</div>
	</div>
	<div id="reply_area_191"></div>
	<div id="modify_topic_191"></div>
	<div class="Fbox" id="forward_menu_191"></div>
</div>
	<div class="mBlog_linedot"></div>
				</div>
		  	
<div id="topic_list_190" class="feedCell">
<div class="wb_l_face">
<div class="avatar">
<a href="index.php?mod=yeye"><img onerror="javascript:faceError(this);" src="http://pugo.in/images/face/f/77/17_s.jpg"></a>
</div>


</div>


<!--悬浮头像、弹出对话框-->
<div id="user_190_user"></div>
<!--悬浮头像、弹出对话框-->

<!--私信对话框-->
<div style="width:430px;" id="Pmsend_to_user_area"></div>
<!--私信对话框-->

<!--AT、拉黑对话框-->
<div style="display:none" id="alert_follower_menu_17"></div>
<!--AT、拉黑对话框-->

<div style="display:none" onclick="get_group_choose(17);" id="button_17"></div>

<!--分组对话框-->
<div style="display:none" class="alertBox" id="global_select_17"></div>
<!--分组对话框-->

<!--备注对话框-->
<div style="display:none" id="get_remark_17"></div>
<!--备注对话框-->


<!--微博内容中 @用户 悬浮提示-->
<div style="display:none;" class="at_style" id="at_190_user"></div>
<!--微博内容中 @用户 悬浮提示-->
<div class="Contant">
	<div style="_overflow:hidden" id="topic_lists_190">
		<div class="oriTxt">
  
			<p class="utitle">
				<!--个人签名文件--><span class="un">

<a href="index.php?mod=yeye" title="点此查看夜巴黎的微博(@夜巴黎)">夜巴黎</a>
<span class="wb_l_level">
<a class="ico_level wbL1" target="_blank" href="index.php?mod=settings&amp;code=exp"><em>1</em></a>
</span>
</span>
				<!--个人签名文件-->
				<span class="ut"><a target="_blank" href="index.php?mod=topic&amp;code=190">10月16日 09时51分 </a></span>
			</p><!--Shopping Begin-->
<div style="display:none " class="artZoomtop">
	<img width="16" height="16" align="absmiddle" src="http://pugo.in/images/shopping/unresolving.gif">
	<a style="display:none " href="#" target="_blank">title</a>
	<span class="price"><i>¥</i></span>
	<a href="http://item.taobao.com/item.htm?spm=541.53683.104316.1&amp;id=12811722314" target="_blank" class="buy_url"></a>
</div>
      

<!--Shopping End-->
<ul id="image_area_190_XlhBQw" class="imgList">
	  
	  <li><a shoppingtypelogo="http://pugo.in/images/shopping/unresolving.gif" shoppingprice="" shoppingurl="http://item.taobao.com/item.htm?spm=541.53683.104316.1&amp;id=12811722314" rev="190_XlhBQw" rel="http://pugo.in/images/topic/4/79/127_s.jpg" topicid="190" class="artZoomAll" href="http://pugo.in/images/topic/4/79/127_o.jpg"><img src="http://pugo.in/images/topic/4/79/127_s.jpg" style="width:120px; height:120px;"></a></li>
	  
</ul>
			<span id="topic_content_190_short">活力感十足的五角星图案，防水防风型的滑雪面料，既美观又保暖，

马甲是秋冬季节不可或缺的百搭单品哦，带帽拉链款，

帽子里为条纹内衬，马甲里面是暖暖的羊羔绒内胆，非常厚实。</span>
			<span id="topic_content_190_full"></span>
<!--投票 Begin-->
              
<!--投票 End-->

<script type="text/javascript"> var __TOPIC_VIEW__ = ''; </script>
<script type="text/javascript">
$(document).ready(function(){
var objStr1 = "#topic_lists_190_a";
var objStr2 = "#topic_lists_190_b";
$(objStr1).mouseover(function(){$(objStr2).show();});
$(objStr1).mouseout(function(){$(objStr2).hide();});
});
</script>

<div class="from"> 
<div class="option">
<!--不是群内成员无法对群内的微博进行操作-->
<ul>
	<li>
	  <!--转发的判断 Begin-->
	  
	  
<span>
			<a style="cursor:pointer;" onclick="get_forward_choose(190);" href="javascript:void(0);">转发
</a>
		</span>
	 
 <!--转发的判断 End-->
	</li>
	<li class="o_line_l">|</li>
	<li>
		<span>
		<a onclick="replyTopic(190,'reply_area_190','0',0);return false;" href="javascript:void(0)" id="topic_list_reply_190_aid">评论
</a>
		</span>
	</li>
	
<li class="o_line_l">|</li>


	<li class="mobox" id="topic_lists_190_a">
		<a class="moreti" href="javascript:void(0)"><span class="txt">更多</span><span class="more"></span></a> 
		<div style="display:none" class="molist" id="topic_lists_190_b">
<span id="favorite_190">
					<a onclick="favoriteTopic(190,'add');return false;" href="javascript:void(0)">收藏</a>
				</span> 
			
			<span><a title="举报不良信息" onclick="ReportBox('190')" href="javascript:void(0)">举报</a></span>
			
</div>
	</li>
</ul>
</div> 
<div class="mycome">
<!-- <a href="index.php?mod=topic&code=190">10月16日 09时51分</a>  -->
来自<a href="http://pugo.in">蒲公英</a></div>
</div>
			
</div>
	</div>
	<div id="reply_area_190"></div>
	<div id="modify_topic_190"></div>
	<div class="Fbox" id="forward_menu_190"></div>
</div>
	<div class="mBlog_linedot"></div>
				</div>
		  	
<div id="topic_list_189" class="feedCell">
<div class="wb_l_face">
<div class="avatar">
<a href="index.php?mod=yeye"><img onerror="javascript:faceError(this);" src="http://pugo.in/images/face/f/77/17_s.jpg"></a>
</div>


</div>


<!--悬浮头像、弹出对话框-->
<div id="user_189_user"></div>
<!--悬浮头像、弹出对话框-->

<!--私信对话框-->
<div style="width:430px;" id="Pmsend_to_user_area"></div>
<!--私信对话框-->

<!--AT、拉黑对话框-->
<div style="display:none" id="alert_follower_menu_17"></div>
<!--AT、拉黑对话框-->

<div style="display:none" onclick="get_group_choose(17);" id="button_17"></div>

<!--分组对话框-->
<div style="display:none" class="alertBox" id="global_select_17"></div>
<!--分组对话框-->

<!--备注对话框-->
<div style="display:none" id="get_remark_17"></div>
<!--备注对话框-->


<!--微博内容中 @用户 悬浮提示-->
<div style="display:none;" class="at_style" id="at_189_user"></div>
<!--微博内容中 @用户 悬浮提示-->
<div class="Contant">
	<div style="_overflow:hidden" id="topic_lists_189">
		<div class="oriTxt">
  
			<p class="utitle">
				<!--个人签名文件--><span class="un">

<a href="index.php?mod=yeye" title="点此查看夜巴黎的微博(@夜巴黎)">夜巴黎</a>
<span class="wb_l_level">
<a class="ico_level wbL1" target="_blank" href="index.php?mod=settings&amp;code=exp"><em>1</em></a>
</span>
</span>
				<!--个人签名文件-->
				<span class="ut"><a target="_blank" href="index.php?mod=topic&amp;code=189">10月16日 09时49分 </a></span>
			</p><!--Shopping Begin-->
<div style="display:none " class="artZoomtop">
	<img width="16" height="16" align="absmiddle" src="http://pugo.in/images/shopping/unresolving.gif">
	<a style="display:none " href="#" target="_blank">title</a>
	<span class="price"><i>¥</i></span>
	<a href="http://item.tmall.com/item.htm?id=9320457868&amp;prt=1318729707022&amp;prc=1" target="_blank" class="buy_url"></a>
</div>
      

<!--Shopping End-->
<ul id="image_area_189_tbzyBL" class="imgList">
	  
	  <li><a shoppingtypelogo="http://pugo.in/images/shopping/unresolving.gif" shoppingprice="" shoppingurl="http://item.tmall.com/item.htm?id=9320457868&amp;prt=1318729707022&amp;prc=1" rev="189_tbzyBL" rel="http://pugo.in/images/topic/6/19/125_s.jpg" topicid="189" class="artZoomAll" href="http://pugo.in/images/topic/6/19/125_o.jpg"><img src="http://pugo.in/images/topic/6/19/125_s.jpg" style="width:120px; height:120px;"></a></li>
	  
</ul>
			<span id="topic_content_189_short">今年很流行这样材质的YY 穿在身上之后效果非常好

魅力是又内而外自然焕发的

羽绒服有很多款 但是一直没有很爱的

直到遇到这款YY

口袋处的设计是我最喜欢的

喜欢把手插进兜兜里  暖暖的</span>
			<span id="topic_content_189_full"></span>
<!--投票 Begin-->
              
<!--投票 End-->

<script type="text/javascript"> var __TOPIC_VIEW__ = ''; </script>
<script type="text/javascript">
$(document).ready(function(){
var objStr1 = "#topic_lists_189_a";
var objStr2 = "#topic_lists_189_b";
$(objStr1).mouseover(function(){$(objStr2).show();});
$(objStr1).mouseout(function(){$(objStr2).hide();});
});
</script>

<div class="from"> 
<div class="option">
<!--不是群内成员无法对群内的微博进行操作-->
<ul>
	<li>
	  <!--转发的判断 Begin-->
	  
	  
<span>
			<a style="cursor:pointer;" onclick="get_forward_choose(189);" href="javascript:void(0);">转发
</a>
		</span>
	 
 <!--转发的判断 End-->
	</li>
	<li class="o_line_l">|</li>
	<li>
		<span>
		<a onclick="replyTopic(189,'reply_area_189','0',0);return false;" href="javascript:void(0)" id="topic_list_reply_189_aid">评论
</a>
		</span>
	</li>
	
<li class="o_line_l">|</li>


	<li class="mobox" id="topic_lists_189_a">
		<a class="moreti" href="javascript:void(0)"><span class="txt">更多</span><span class="more"></span></a> 
		<div style="display:none" class="molist" id="topic_lists_189_b">
<span id="favorite_189">
					<a onclick="favoriteTopic(189,'add');return false;" href="javascript:void(0)">收藏</a>
				</span> 
			
			<span><a title="举报不良信息" onclick="ReportBox('189')" href="javascript:void(0)">举报</a></span>
			
</div>
	</li>
</ul>
</div> 
<div class="mycome">
<!-- <a href="index.php?mod=topic&code=189">10月16日 09时49分</a>  -->
来自<a href="http://pugo.in">蒲公英</a></div>
</div>
			
</div>
	</div>
	<div id="reply_area_189"></div>
	<div id="modify_topic_189"></div>
	<div class="Fbox" id="forward_menu_189"></div>
</div>
	<div class="mBlog_linedot"></div>
				</div>
		  	
<div id="topic_list_188" class="feedCell">
<div class="wb_l_face">
<div class="avatar">
<a href="index.php?mod=yeye"><img onerror="javascript:faceError(this);" src="http://pugo.in/images/face/f/77/17_s.jpg"></a>
</div>


</div>


<!--悬浮头像、弹出对话框-->
<div id="user_188_user"></div>
<!--悬浮头像、弹出对话框-->

<!--私信对话框-->
<div style="width:430px;" id="Pmsend_to_user_area"></div>
<!--私信对话框-->

<!--AT、拉黑对话框-->
<div style="display:none" id="alert_follower_menu_17"></div>
<!--AT、拉黑对话框-->

<div style="display:none" onclick="get_group_choose(17);" id="button_17"></div>

<!--分组对话框-->
<div style="display:none" class="alertBox" id="global_select_17"></div>
<!--分组对话框-->

<!--备注对话框-->
<div style="display:none" id="get_remark_17"></div>
<!--备注对话框-->


<!--微博内容中 @用户 悬浮提示-->
<div style="display:none;" class="at_style" id="at_188_user"></div>
<!--微博内容中 @用户 悬浮提示-->
<div class="Contant">
	<div style="_overflow:hidden" id="topic_lists_188">
		<div class="oriTxt">
  
			<p class="utitle">
				<!--个人签名文件--><span class="un">

<a href="index.php?mod=yeye" title="点此查看夜巴黎的微博(@夜巴黎)">夜巴黎</a>
<span class="wb_l_level">
<a class="ico_level wbL1" target="_blank" href="index.php?mod=settings&amp;code=exp"><em>1</em></a>
</span>
</span>
				<!--个人签名文件-->
				<span class="ut"><a target="_blank" href="index.php?mod=topic&amp;code=188">10月16日 09时47分 </a></span>
			</p><!--Shopping Begin-->
<div style="display:none " class="artZoomtop">
	<img width="16" height="16" align="absmiddle" src="http://pugo.in/images/shopping/unresolving.gif">
	<a style="display:none " href="#" target="_blank">title</a>
	<span class="price"><i>¥</i></span>
	<a href="http://item.tmall.com/item.htm?id=12571416101" target="_blank" class="buy_url"></a>
</div>
      

<!--Shopping End-->
<ul id="image_area_188_MyOsrv" class="imgList">
	  
	  <li><a shoppingtypelogo="http://pugo.in/images/shopping/unresolving.gif" shoppingprice="" shoppingurl="http://item.tmall.com/item.htm?id=12571416101" rev="188_MyOsrv" rel="http://pugo.in/images/topic/f/24/124_s.jpg" topicid="188" class="artZoomAll" href="http://pugo.in/images/topic/f/24/124_o.jpg"><img src="http://pugo.in/images/topic/f/24/124_s.jpg" style="width:120px; height:120px;"></a></li>
	  
</ul>
			<span id="topic_content_188_short">不错的衣服，很满意！虽说有些小贵，不过和商场里比起来，非常便宜了！</span>
			<span id="topic_content_188_full"></span>
<!--投票 Begin-->
              
<!--投票 End-->

<script type="text/javascript"> var __TOPIC_VIEW__ = ''; </script>
<script type="text/javascript">
$(document).ready(function(){
var objStr1 = "#topic_lists_188_a";
var objStr2 = "#topic_lists_188_b";
$(objStr1).mouseover(function(){$(objStr2).show();});
$(objStr1).mouseout(function(){$(objStr2).hide();});
});
</script>

<div class="from"> 
<div class="option">
<!--不是群内成员无法对群内的微博进行操作-->
<ul>
	<li>
	  <!--转发的判断 Begin-->
	  
	  
<span>
			<a style="cursor:pointer;" onclick="get_forward_choose(188);" href="javascript:void(0);">转发
</a>
		</span>
	 
 <!--转发的判断 End-->
	</li>
	<li class="o_line_l">|</li>
	<li>
		<span>
		<a onclick="replyTopic(188,'reply_area_188','0',0);return false;" href="javascript:void(0)" id="topic_list_reply_188_aid">评论
</a>
		</span>
	</li>
	
<li class="o_line_l">|</li>


	<li class="mobox" id="topic_lists_188_a">
		<a class="moreti" href="javascript:void(0)"><span class="txt">更多</span><span class="more"></span></a> 
		<div style="display:none" class="molist" id="topic_lists_188_b">
<span id="favorite_188">
					<a onclick="favoriteTopic(188,'add');return false;" href="javascript:void(0)">收藏</a>
				</span> 
			
			<span><a title="举报不良信息" onclick="ReportBox('188')" href="javascript:void(0)">举报</a></span>
			
</div>
	</li>
</ul>
</div> 
<div class="mycome">
<!-- <a href="index.php?mod=topic&code=188">10月16日 09时47分</a>  -->
来自<a href="http://pugo.in">蒲公英</a></div>
</div>
			
</div>
	</div>
	<div id="reply_area_188"></div>
	<div id="modify_topic_188"></div>
	<div class="Fbox" id="forward_menu_188"></div>
</div>
	<div class="mBlog_linedot"></div>
				</div>
		  	
<!--微博列表 End-->
		
  
          
          
  
		  
          
        </div>
		<!--微博列表 End-->
      </div>
                
                
            </div>
            
        </div>
        
        <div class="g_side">
            
            <div class="side-avt">
                <a title="" href="index.php?mod=yeye"><img class="img" width="128" height="128" onerror="javascript:faceError(this);" title="夜巴黎" src="http://pugo.in/images/face/f/77/17_b.jpg"></a>                
            </div>
            <div class="avatar2_info">
                <p class="left_t_nick_name">
                <strong title="夜巴黎">夜巴黎 </strong>         
                <a onclick="follower_choose(17,'夜巴黎','at','');" href="javascript:void(0)">(@夜巴黎)</a>
                <!--备注-->
                <span id="remarklist_17"></span>
                <!--备注-->
                <img title="女" src="images/user_female.gif">
                </p>
                <p class="left_t2"><a href="index.php?mod=yeye">http://pugo.in/index.php?mod=yeye</a></p>
                <p class="left_t2">福建省 厦门市 
                 积分：<a title="点击查看获取积分的方法" href="index.php?mod=settings&amp;code=extcredits&amp;op=rule"><b>52</b></a>
                </p>
                
                <div id="topic_index_blacklist_17">
                <div class="dialogue">
                <span id="follow_17"><a onclick="follow(17,'follow_17','add');return false;" href="javascript:void(0)"><img src="images/add_2.gif"></a></span>
                <br />
                <span>
                <!--判断是否是好友-->                
                <a onclick="PmSend(17,'夜巴黎');return false;" href="javascript:void(0)">私信</a>
                <!--判断是否是好友-->
                </span>
                </div>
                <div id="Pmsend_to_user_area"></div>
                <div id="alert_follower_menu_17"></div>
                <span onclick="get_group_choose(17);" id="button_17"></span>
                <div style="display:none" class="alertBox" id="global_select_17"></div>
                <div id="get_remark_17"></div>
                </div>
                
                <div id="topic_index_blacklist_4">
                <div class="dialogue">
                <span class="c" id="follow_4"><a onclick="follow(4,'follow_4','');return false;" href="javascript:void(0)"><img src="images/accept_2.gif"></a></span>						 <span>
                <!--判断是否是好友-->
                <br />
                <a onclick="follower_choose(4,'','lahei','topic_black_ajax');" href="javascript:void(0)">拉黑</a> |
                <a onclick="get_group_choose(4);" href="javascript:void(0)">分组</a> |
                <a onclick="get_remark(4);return false;" href="javascript:void(0)">备注</a> |
                <a onclick="follower_choose(4,'败金女生','buddys','');" href="javascript:void(0)">推荐给朋友</a> |
                
                
                <a onclick="PmSend(4,'败金女生');return false;" href="javascript:void(0)">私信</a>
                <!--判断是否是好友-->
                </span>
                </div>
                
                <div id="Pmsend_to_user_area"></div>
                <div id="alert_follower_menu_4"></div>
                <span onclick="get_group_choose(4);" id="button_4"></span>
                <div style="display:none" class="alertBox" id="global_select_4"></div>
                <div id="get_remark_4"></div>
                
                </div>
                
            </div>
            
            <div class="t_col_main_ln ">
			<script type="text/javascript">
            $(document).ready(function(){
            $(".member_exp").mouseover(function(){$(".member_exp_c").show();});
            $(".member_exp").mouseout(function(){$(".member_exp_c").hide();});
            $("#m_avatar2").mouseover(function(){$(".avatar_tips").show();});
            $("#m_avatar2").mouseout(function(){$(".avatar_tips").hide();});
            });
            </script>
            <!--用户头像等信息-->
            <div class="sideBox">
            <div class="person_atten_l">
            <p><span class="num"><a title="夜巴黎关注的" href="index.php?mod=yeye&amp;code=follow">6</a></span></p>
            <p><a title="夜巴黎关注的" href="index.php?mod=yeye&amp;code=follow">关注</a> </p>
            </div>
            <div class="person_atten_l">
            <p><span class="num"><a title="关注夜巴黎的" href="index.php?mod=yeye&amp;code=fans">3</a></span></p>
            <p><a title="关注夜巴黎的" href="index.php?mod=yeye&amp;code=fans">粉丝</a> </p>
            </div>
            <div class="person_atten_r">
            <p><span class="num"><a title="夜巴黎的分享" href="index.php?mod=yeye">8</a></span></p>
            <p><a title="夜巴黎的分享" href="index.php?mod=yeye">分享</a> </p>
            </div>
            </div>
            <!------用户头像等信息------->
            
            
            <!------用户勋章信息------->
            
            <script type="text/javascript">
            $(document).ready(function(){
            $(".sina_weibo").mouseover(function(){$(".sina_weibo_c").show();});
            $(".sina_weibo").mouseout(function(){$(".sina_weibo_c").hide();});
            $(".qqwb").mouseover(function(){$(".qqwb_c").show();});
            $(".qqwb").mouseout(function(){$(".qqwb_c").hide();});
            $(".qqim").mouseover(function(){$(".qqim_c").show();});
            $(".qqim").mouseout(function(){$(".qqim_c").hide();});
            $(".tel").mouseover(function(){$(".tel_c").show();});
            $(".tel").mouseout(function(){$(".tel_c").hide();});
            });
            </script>
            
            <ul class="Vimg">
            </ul>   
            <!------用户勋章信息------->
            <!-------------------------关于我的信息-------------------------------->
            <!-------------------------关于我的信息-------------------------------->
            
            </div>
            
            <div class="SC">
                <h3 class="">关于夜巴黎<a href="javascript:void(0)" class="btn SC_guanyu"></a></h3>
                <ul class="FTL SC_guanyu_box" style="display: block;">这家伙很懒，什么都没留</ul>
            </div>
            
            <div class="SC">
            <h3>她关注的人 (6)
            <a onclick="right_show_ajax('17','user_follow','user_follow'); return false;" href="javascript:void(0)" class="btn SC_taguanzhu"></a>
            </h3>
            <ul class="FTL FTL2 SC_taguanzhu_box">
            <div id="17_user_follow">
            
            <li> 
            <img onmouseout="clear_user_choose()" onmouseover="get_user_choose(14,'_user',14)" class="manface" src="http://pugo.in/images/face/6/17/14_s.jpg" onerror="javascript:faceError(this);"> 
            <b>厦门卫视陈声</b>
            <b></b> 
            </li>
            <div id="user_14_user"></div>
            <div id="alert_follower_menu_14"></div>
            <div style="display:none" class="alertBox alertBox_2" id="global_select_14"></div>
            <div id="get_remark_14"></div>
            <div onclick="get_group_choose(14);" id="button_14"></div>
            <div id="Pmsend_to_user_area"></div>
            
            <li> 
            <img onmouseout="clear_user_choose()" onmouseover="get_user_choose(13,'_user',13)" class="manface" src="http://pugo.in/images/face/4/15/13_s.jpg" onerror="javascript:faceError(this);"> 
            <b>仅有的依赖</b>
            <b></b> 
            </li>
            <div id="user_13_user"></div>
            <div id="alert_follower_menu_13"></div>
            <div style="display:none" class="alertBox alertBox_2" id="global_select_13"></div>
            <div id="get_remark_13"></div>
            <div onclick="get_group_choose(13);" id="button_13"></div>
            <div id="Pmsend_to_user_area"></div>
            
            <li> 
            <img onmouseout="clear_user_choose()" onmouseover="get_user_choose(12,'_user',12)" class="manface" src="http://pugo.in/images/face/9/25/12_s.jpg" onerror="javascript:faceError(this);"> 
            <b>蕾丝控</b>
            <b></b> 
            </li>
            <div id="user_12_user"></div>
            <div id="alert_follower_menu_12"></div>
            <div style="display:none" class="alertBox alertBox_2" id="global_select_12"></div>
            <div id="get_remark_12"></div>
            <div onclick="get_group_choose(12);" id="button_12"></div>
            <div id="Pmsend_to_user_area"></div>
            
            <li> 
            <img onmouseout="clear_user_choose()" onmouseover="get_user_choose(6,'_user',6)" class="manface" src="http://pugo.in/images/face/e/22/6_s.jpg" onerror="javascript:faceError(this);"> 
            <b>倾城的微笑</b>
            <b></b> 
            </li>
            <div id="user_6_user"></div>
            <div id="alert_follower_menu_6"></div>
            <div style="display:none" class="alertBox alertBox_2" id="global_select_6"></div>
            <div id="get_remark_6"></div>
            <div onclick="get_group_choose(6);" id="button_6"></div>
            <div id="Pmsend_to_user_area"></div>
            
            <li> 
            <img onmouseout="clear_user_choose()" onmouseover="get_user_choose(4,'_user',4)" class="manface" src="http://pugo.in/images/face/1/78/4_s.jpg" onerror="javascript:faceError(this);"> 
            <b>败金女生</b>
            <b></b> 
            </li>
            <div id="user_4_user"></div>
            <div id="alert_follower_menu_4"></div>
            <div style="display:none" class="alertBox alertBox_2" id="global_select_4"></div>
            <div id="get_remark_4"></div>
            <div onclick="get_group_choose(4);" id="button_4"></div>
            <div id="Pmsend_to_user_area"></div>
            
            <li> 
            <img onmouseout="clear_user_choose()" onmouseover="get_user_choose(1,'_user',1)" class="manface" src="http://pugo.in/images/face/c/98/1_s.jpg" onerror="javascript:faceError(this);"> 
            <b>蒲公英官方</b>
            <b></b> 
            </li>
            <div id="user_1_user"></div>
            <div id="alert_follower_menu_1"></div>
            <div style="display:none" class="alertBox alertBox_2" id="global_select_1"></div>
            <div id="get_remark_1"></div>
            <div onclick="get_group_choose(1);" id="button_1"></div>
            <div id="Pmsend_to_user_area"></div>
            
            <p class="m_m2"><a href="index.php?mod=yeye&amp;code=follow">更多&gt;&gt;</a></p>
            
            
            </div>
            </ul>
            </div>
            
            <div class="SC">
            <h3>
            她加入的微群
            <a onclick="right_show_ajax('17','my_qun','qun_box'); return false;" href="javascript:void(0);" class="btn SC_my_qun">
            </a>
            </h3>
            <ul class="FTL SC_qun_box">
            <div id="17_qun_box">		TA还没有加入任何微群
            </div>
            </ul>
            </div>
            
            <div class="SC">
            <h3>
            她参与的活动
            <a onclick="right_show_ajax('17','to_user_event','to_user_event_box'); return false;" href="javascript:void(0);" class="btn SC_my_event">
            </a>
            </h3>
            <ul class="FTL SC_event_box">
            <div id="17_to_user_event_box"></div>
            </ul>
            </div>
            
            <div class="SC">
            <h3>蒲公英意见反馈<a href="javascript:void(0)" class="btn SC_yijianfankui"></a></h3>
            <ul class="FTL SC_yijianfankui_box">
            <li>众人拾柴火焰高，如您有任何建议欢迎点<a target="_blank" href="index.php?mod=tag&amp;code=意见反馈">意见反馈</a>告诉我们。</li>
            <li>&nbsp;</li>
            </ul>
            </div>
            
              
    </div>
</div>


<div id="footer">Copyright &copy;  2011 - 2012 pugo.in <a href="index.php?mod=other&amp;code=about">关于我们</a> <a href="index.php?mod=tag&amp;code=意见反馈">意见反馈</a> <a href="index.php?mod=other&amp;code=notice" target="_blank" title="网站公告" rel="nofollow">网站公告</a> [<a href="http://www.miibeian.gov.cn/" target="_blank" title="网站备案" rel="nofollow">闽ICP备07075584号</a>] <a title="51.la 专业、免费、强健的访问统计" target="_blank" href="http://www.51.la/?5582110">网站统计</a></div>

</body>
</html>
