<!--{template "topic_header"}-->

<!--{if MEMBER_ID ==0}-->
<div class="inventLine2"> 
        <div class="atxt">
			<p class="p_1"><span>{$member[nickname]}</span>在这里写微博，想收到TA的最新消息吗？</p> 
			<p class="p_2">微博是现在最酷、最火的沟通交流工具，可以随时随地分享新鲜事，与朋友保持联络。</p> 
			<p class="p_3">现在注册微博就可通过网页、手机、QQ机器人随时分享新鲜事，并关注好友的最新消息！</p>
        </div>
		<div class="abtn">
			<a href="index.php?mod=member&code&uid={$member[uid]}">
			<img src="images/regbtn.gif"></a>
			<p>已有帐号，<a href="javascript:void(0);" onclick="ShowLoginDialog(); return false;">请点此登录</a></p>
		</div> 
</div>
<!--{/if}-->
<div class="main {$t_col_main}">


 <div class="mainL">
    <!--{if $is_personal && !$_GET[mod_original]}-->
        <!--{template "topic_publish"}-->
    <!--{else}-->
    <!--{eval $__my_link_='index.php?mod='.$member[username];$__my_link_=get_invite_url($__my_link_,$this->Config['site_url']);}-->
	<div class="member_list_top">
	   <div class="left_user_info">
		  <div class="avatar_left"><a href="index.php?mod={$member[username]}" title="">
		  <img src="{$member[face_original]}" title="{$member[nickname]}" width="128" height="128" onerror="javascript:faceError(this);" /></a>
		  </div>
		  <div class="avatar2_info">
			 <p class="left_t_nick_name">
			 <strong title="{$member[nickname]}">{$member[nickname]}{$member[validate_html]} </strong>
			 <!--{if $this->Config[level_radio]}-->
					<a href="index.php?mod=settings&code=exp" target="_blank" class="ico_level wbL{$member[level]}"><em>{$member[level]}</em></a>
			 <!--{/if}-->
			 </strong>
			 <a href="javascript:void(0)" onclick="follower_choose({$member[uid]},'{$member[nickname]}','at','');">(@{$member[nickname]})</a>
			  <!--备注-->
			  <span id="remarklist_{$member[uid]}">{$buddys[remark]}</span>
			  <!--备注-->
			 
			   <!--{if $member[gender] == 1}-->
			  <img src="images/user.gif"  title="男"/>
			  <!--{else}-->
			  <img src="images/user_female.gif"  title="女"/>
			  <!--{/if}--> 
			  </p>
			 <p class="left_t2"><a href="index.php?mod={$member[username]}">{$__my_link_}</a></p>
			 <p class="left_t2">{$member[from_area]} {if $member[credits]} 积分：<a href="index.php?mod=settings&code=extcredits&op=rule" title="点击查看获取积分的方法"><b>{$member[credits]}</b></a>{/if}</p>
			{if $member[aboutme]}
			<p class="left_t2">简介xx：<!--{eval $aboutme = cut_str({$member[aboutme]},50);}--><span title="简介：{$member[aboutme]}">{$aboutme}</span></p>
			{/if}
			<!-- 关注 拉黑 等操作选项-->
			sssssssssssssss
                <!--{if MEMBER_ID && MEMBER_ID!=$member[uid]}-->
				<div id="topic_index_blacklist_{$member[uid]}">
					<!--{if $member[uid] == $list_blacklist[touid]}-->
						<div class="blacklist">
							他在你的黑名单里 <a href="javascript:void(0)" onclick="follower_choose({$member[uid]},'{$member[nickname]}','del','topic_black_ajax');"> [取消拉黑] </a>
						</div>
					<!--{else}-->
						<div class="dialogue">
						 {$member[follow_html]}
						 <span>
						 <!--判断是否是好友-->
						 <!--{if $buddys}-->
							 | <a href="javascript:void(0)" onclick="follower_choose({$member[uid]},'','lahei','topic_black_ajax');">拉黑</a> |
							 <a href="javascript:void(0)" onclick="get_group_choose({$member[uid]});">分组</a> |
							 <a href="javascript:void(0)" onclick="get_remark({$member[uid]});return false;">备注</a> |
							 <a href="javascript:void(0)" onclick="follower_choose({$member[uid]},'{$member[nickname]}','buddys','');">推荐给朋友</a> |
							 <!--{/if}--> 	
							 <a href="javascript:void(0)" onclick="PmSend({$member[uid]},'{$member[nickname]}');return false;" >私信</a>
						 <!--判断是否是好友-->
						 </span>
						</div>
					
						<div id="Pmsend_to_user_area"></div>
						<div id="alert_follower_menu_{$member[uid]}"></div>
						<span id="button_{$member[uid]}" onclick="get_group_choose({$member[uid]});"></span>
						<div id="global_select_{$member[uid]}" class="alertBox" style="display:none"></div>
						<div id="get_remark_{$member[uid]}" ></div>
					<!--{/if}-->
				</div> 
				<!--{/if}--> 
			<!-- 关注 拉黑 等操作选项-->
			<!--{hook/global_usernav_extra1}-->
			</div>
	   </div>
	</div>
<!--{/if}-->
<div style="width:560px; margin:0 auto 8px; overflow:hidden">
<script language="Javascript">
function listTopic( s , lh ) {	
	var s = 'undefined' == typeof(s) ? 0 : s;
	var lh = 'undefined' == typeof(lh) ? 1 : lh;
	if(lh) {
		window.location.hash="#listTopicArea";
	}
    $("#listTopicMsgArea").html("<div><center><span class='loading'>内容正在加载中，请稍候……</span></center></div>");
	var myAjax = $.post(
		"ajax.php?mod=topic&code=list",
		{
			<!--{loop $params $k $v}-->
			{$k}:"{$v}",
			<!--{/loop}-->
			start:s
		},
		function (d) {
			$("#listTopicMsgArea").html('');
			$("#listTopicArea").html(d);			
		}
	); 
}
</script>
<!--幻灯广告-->
{if $this->Config[slide_enable] && ($slide_config=ConfigHandler::get('slide')) && $slide_config[enable] && $slide_config[list]}
	<script src="js/kinslideshow.js" type="text/javascript"></script>
	<script type="text/javascript">
	$(function(){
		$("#KinSlideshow").KinSlideshow({
		moveStyle:"down",			//切换方向 可选值：【 left | right | up | down 】
		intervalTime:3,   			//设置间隔时间为5秒 【单位：秒】 [默认为5秒]
		moveSpeedTime:400 , 		//切换一张图片所需时间，【单位：毫秒】[默认为400毫秒]
		isHasTitleFont:false,		//是否显示标题文字 可选值：【 true | false 】
		isHasTitleBar:false,		//是否显示标题背景 可选值：【 true | false 】[默认为true]	
		//标题文字样式，(isHasTitleFont = true 前提下启用)  
		titleBar:{titleBar_height:30,titleBar_bgColor:"#08355c",titleBar_alpha:0.3},
		titleFont:{TitleFont_size:12,TitleFont_color:"#FFFFFF",TitleFont_weight:"normal"},
		//按钮样式设置，(isHasBtn = true 前提下启用) 
		btn:{btn_bgColor:"#FFFFFF",btn_bgHoverColor:"#1072aa",btn_fontColor:"#000000",btn_fontHoverColor:"#FFFFFF",btn_borderColor:"#cccccc",btn_borderHoverColor:"#1188c0",btn_borderWidth:1}
		});
	})
	</script>
	<div id="KinSlideshow" style="visibility:hidden;">
	{loop $slide_config[list] $_v}
        <a href="{$_v[href]}" target="_blank"><img src="{$_v[src]}" alt="" width="560" height="100" /></a>
	{/loop}
    </div>
{/if}

<!--幻灯广告-->

</div>

 <div class="listBox">
	
	<!--{eval if(MEMBER_ID == $member[uid]) $_my = '我'; else $_my = $member[nickname];}-->
     <!--{if $params[code] == myblog and $this->Get[keyword] == ''}-->
	  <div class="listBoxNav">
	   <div class="nleftL">
	  	<li style="float:left; font-weight:600; color:#333;">&nbsp;{$_my}的微博</li> 
		<li class="liR2"> 
		  <!--{if $params[code] == 'myblog' and $this->Get[type] == ''}-->
		  <span class="liL_5"><a href="index.php?mod={$member[username]}">全部</a></span> |
		  <!--{else}-->
		  <span><a href="index.php?mod={$member[username]}">全部</a></span> |
		   <!--{/if}-->
		  <!--{if 'my_reply' == $this->Get[type]}-->
		   <span class="liL_2"><a href="index.php?mod={$member[username]}&type=my_reply">TA评论的</a></span>
		  <!--{else}-->
		   <span><a href="index.php?mod={$member[username]}&type=my_reply">TA评论的</a></span>
		  <!--{/if}-->
		</li>
		<!--{hook/global_index_extra2}-->
	   </div>
	   </div>
	  <!--{/if}-->	
      <!--{if in_array($this->Code,array('myfavorite','favoritemy'))}-->
	  <div class="listBoxNav">
      <ul class="nleftL">
        <!--{if 'myfavorite'==$this-> Code}-->
        <li class="liL_2"><a href="index.php?mod=topic&code=myfavorite" class="cWhite">我的收藏</a></li>
        <!--{else}-->
        <li><a href="index.php?mod=topic&code=myfavorite" >我的收藏</a></li>
        <!--{/if}-->
        <li class="liLine">|</li>
        <!--{if 'favoritemy'==$this-> Code}-->
        <li class="liL_2"><a href="index.php?mod=topic&code=favoritemy" class="cWhite">收藏我的</a></li>
        <!--{else}-->
        <li><a href="index.php?mod=topic&code=favoritemy">收藏我的</a></li>
        <!--{/if}-->
      </ul>
	  <!--{hook/global_index_extra3}-->
	  </div>
      <!--{/if}-->
	  <!--{if in_array($this->Code,array('mycomment','tocomment'))}-->
	  <div class="listBoxNav">
	   <ul class="nleftL">
	   <!--{if 'mycomment' == $this->Code}-->
        <li class="liL_2"><a href="index.php?mod=topic&code=mycomment" class="cWhite">评论我的</a></li>
        <!--{else}-->
        <li><a href="index.php?mod=topic&code=mycomment" >评论我的</a></li>
        <!--{/if}-->
        <li class="liLine">|</li>
        <!--{if 'tocomment'== $this->Code}-->
        <li class="liL_2"><a href="index.php?mod=topic&code=tocomment" class="cWhite">我评论的</a></li>
        <!--{else}-->
        <li><a href="index.php?mod=topic&code=tocomment">我评论的</a></li>
        <!--{/if}-->
	   </ul>
	   <!--{hook/global_index_extra4}-->
	   </div>
	   <!--{/if}-->

		
	  <div id="ajax_reminded"></div>
	
	 <div id="listTopicMsgArea"></div>
      <div id="listTopicArea">
	  	<!--微博列表 Begin-->
		<!--{subtemplate topic_list_ajax}-->
		<!--微博列表 End-->
      </div>
    </div>
  </div>
  <!--{template "topic_right.inc"}-->
</div>

<!--{template "topic_footer"}-->

<!--{if $this->Config[ajax_topic_time] > 0 && MEMBER_ID > 0 && 'myhome'==$this->Code}-->
<!--{eval $ajax_time = $this->Config[ajax_topic_time] * 1000;}-->
<script>
function circle_topic()
{
	ajax_reminded({MEMBER_ID});
	setTimeout('circle_topic();',{$ajax_time});
}
setTimeout('circle_topic();',{$ajax_time});
</script>
<!--{/if}-->