<!--{template admin/header}-->


<style type="text/css">
.city_ser_show{display:none;width:400px;height:40px;border:0px solid #CCCCCC;}
#con_two_1{display:block;}
#menubox ul{margin:0;padding:0;}
</style>
<form method="get" action="admin.php?">
<input type="hidden" name="mod" value="member">
<input type="hidden" name="code" value="dosearch">
	<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
		<tr class="header">
			<td colspan="2">搜索用户</td>
		</tr>
		<tr>
			<td bgcolor="#F8F8F8" valign="top">角色:<br>
			设置允许参与搜索的用户组，可以按住 CTRL 多选</td>
			<td align="right" bgcolor="#FFFFFF">
			<select name="role_id[]" size="{$role_count}" multiple="multiple" style="width: 65%">
			<option value="all">无限制</option>
			<!--{loop $role_list $role}-->
			<option value="{$role[id]}">{$role[name]}</option>
			<!--{/loop}-->
			</select></td>
		</tr>
		<tr>
			<td bgcolor="#F8F8F8">用户名(可使用通配符 *) :</td>
			<td align="right" bgcolor="#FFFFFF">
			<input type="text" name="username" size="40" value>
			</td>
		</tr>
		<tr>
			<td bgcolor="#F8F8F8"> 昵称(可使用通配符 *) :</td>
			<td align="right" bgcolor="#FFFFFF">
			<input type="text" name="nickname" size="40" value></td>
		</tr>
		<tr>
			<td bgcolor="#F8F8F8">Email(可使用通配符 *):</td>
			<td align="right" bgcolor="#FFFFFF">
			<input type="text" name="email" size="40" value></td>
		</tr>
		<!--{loop $credit_list $credit}-->
		<tr>
			<td class="altbg1">{$credit[describe]}:</td>
			<td align="right" class="altbg2">
			<input type="text" name="{$credit[name]}" size="40" value></td>
		</tr>
		<!--{/loop}-->
		<tr>
			<td bgcolor="#F8F8F8">注册 IP 开头 (如 192.168):</td>
			<td align="right" bgcolor="#FFFFFF">
			<input type="text" name="regip" size="40" value></td>
		</tr>
		<tr>
			<td bgcolor="#F8F8F8">上次访问 IP 开头 (如 192.168):</td>
			<td align="right" bgcolor="#FFFFFF">
			<input type="text" name="lastip" size="40" value></td>
		</tr>

	</table>
	<br>
	<center><input type="submit" class="button" name="searchsubmit" value="搜索用户">&nbsp;
	<br>

